body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.nav-link {
  color: #e1fff0;
  text-decoration: underline;
}
.nav-link:hover {
  color: #4ff1a0;
  text-decoration: underline;
}

.search {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.05rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 8rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 40px;
  cursor: pointer;
}
.comment-actions {
  display: flex;
  font-size: 14px;
  color: rgb(51, 51, 51);
  cursor: pointer;
}

.comment-action {
  margin-right: 8px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  color: white;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.title-form-textarea {
  width: 100%;
  height: 30px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.thread-form-title {
  font-size: 25px;
  font-weight: bolder;
  padding-top:10px;
}

.comment-action:hover {
  text-decoration: underline;
}

.thread-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.child-comment-width {
  width: 80%;
  margin-left: 40px;
  padding-bottom: 15px;
}

.parent-comment-width {
  width: 80%;
  padding-bottom: 10px;
}

.view-comment-text {
  font-size: 16px;
  padding-bottom: 5px;
  margin: 0;
  color: gray;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.contact {
  height: 90vh;
}

.login {
  height: 90vh;
}

.browse {
  min-height: 90vh;
}

.uploadInput {
  width: 0px;
  height: 0px;
  visibility: hidden;
  opacity: 0;
}

.imageHolder {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 100%;
  max-width: 800px;

}
@media (max-width: 800px) {
  .imageHolder {
    width: 100%;
    height: auto;
 }
}
.imageHolder:empty {
  display: none;
}
.imageHolder img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentPredictions {
  margin: 40px 0 0;
  background: #a19da6;
  padding: 10px;
}
.recentPredictions h2 {
  color: #111;
  font-size: 26px;
  margin: 10px 0;
}
.recentPredictions .recentImages {
  display: flex;
  flex-wrap: wrap;
}
.recentPredictions .recentPrediction {
  flex: 0 0 20%;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .recentPredictions .recentPrediction {
    flex: 0 0 25%;
 }
}
@media (max-width: 870px) {
  .recentPredictions .recentPrediction {
    flex: 0 0 33.3%;
 }
}
@media (max-width: 700px) {
  .recentPredictions .recentPrediction {
    flex: 0 0 50%;
 }
}
.recentPredictions .recentPrediction img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media (max-width: 700px) {
  .recentPredictions .recentPrediction img {
    height: 260px;
 }
}

.resultsHolder {
  padding: 30px;
}
@media (max-width: 800px) {
  .resultsHolder {
    width: 100%;
    padding: 0;
 }
}
.resultsHolder .result {
  border: 1px solid #333;
  margin: 0 0 10px;
  padding: 10px;
}
.resultsHolder .result:first-of-type {
  border-color: #333;
  background-color: #333;
}
.resultsHolder .result:first-of-type .name {
  color: #fff;
}
.resultsHolder .result:first-of-type .confidence {
  color: #dfdfdf;
}
.resultsHolder .result .name {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.resultsHolder .result .confidence {
  display: block;
  font-weight: 300;
}
.resultsHolder .result .confidence .bestGuess {
  background: #fff;
  padding: 2px 6px;
  color: #333;
  margin-left: 3px;
}